<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.knziha.plod.PlainDict">

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_MEDIA_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>

	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

	<uses-permission android:name="android.permission.WAKE_LOCK"/>

	<uses-permission android:name="android.permission.REORDER_TASKS"/>

	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

	<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

	<application
		android:name="com.knziha.plod.PlainDict.AgentApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/icon_launcher_round"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:hardwareAccelerated="true"
		tools:ignore="GoogleAppIndexingWarning"
		android:usesCleartextTraffic="true"
		android:requestLegacyExternalStorage="true"
		android:fullBackupContent="false"
		>
		<uses-library android:name="com.sec.android.app.multiwindow" android:required="false" />
		<meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
		<meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:value="632.0dip" />
		<meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:value="598.0dip" />
		<meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:value="632.0dip" />
		<meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:value="598.0dip" />
		<activity android:name="com.knziha.plod.PlainDict.PDICMainActivity"
			android:theme="@style/AppTheme"
			android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection"
			android:hardwareAccelerated="true"
			android:launchMode="standard"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity android:name="com.knziha.plod.PlainDict.CuteFileManager"
			android:theme="@style/AppTheme"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:hardwareAccelerated="true"
			>
		</activity>

		<activity android:name="com.knziha.plod.PlainDict.FloatSearchActivity"
			android:theme="@style/FloatAppTheme"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:hardwareAccelerated="true"
			android:windowSoftInputMode="adjustPan"
			>
			<intent-filter>
				<action android:name="colordict.intent.action.SEARCH"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
			<intent-filter>
				<action android:name="plaindict.intent.action.SEARCH"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.PROCESS_TEXT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
		</activity>

		<activity android:name="com.knziha.plod.settings.SettingsActivity"
			android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection"
			android:theme="@style/SettingAppTheme"
			android:windowSoftInputMode="adjustPan"
			android:hardwareAccelerated="true"
			android:launchMode="standard"
			/>

		<activity android:name="com.knziha.plod.slideshow.PhotoViewActivity"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:theme="@style/FloatAppTheme"
			/>

		<activity android:name="com.knziha.plod.dictionarymanager.dict_manager_activity"
			android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection"
			android:theme="@style/AppThemeRaw"
			/>

		<activity android:name="com.knziha.plod.PlainDict.RebootActivity"
			android:theme="@style/FloatAppTheme"
			android:configChanges="layoutDirection|locale|keyboardHidden|orientation|screenSize"
			android:launchMode="standard"
			/>
		<activity android:name="com.knziha.plod.PlainDict.MainShareActivity"
			android:theme="@style/FloatAppTheme"
			android:configChanges="layoutDirection|locale|keyboardHidden|orientation|screenSize"
			android:launchMode="standard"
			>
			<intent-filter>
				<action android:name="android.intent.action.SEND"/>
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
<!--			<intent-filter>-->
<!--				<action android:name="android.intent.action.VIEW"/>-->
<!--				<category android:name="android.intent.category.DEFAULT"/>-->
<!--				<category android:name="android.intent.category.BROWSABLE"/>-->
<!--				<data android:mimeType="*/*"/>-->
<!--				<data android:pathPattern="*.mdx"/>-->
<!--			</intent-filter>-->
		</activity>
		<activity android:name="com.knziha.plod.PlainDict.FloatActivitySearch"
			android:theme="@style/FloatAppTheme"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:hardwareAccelerated="true"
			android:windowSoftInputMode="adjustPan"
			android:launchMode="singleInstance"
			android:exported="true"
			android:label="@string/fapp_name"
			android:taskAffinity=""
			>
		</activity>
		<activity android:name="com.knziha.plod.PlainDict.MultiShareActivity"
			android:theme="@style/FloatAppTheme"
			android:configChanges="layoutDirection|locale|keyboardHidden|orientation|screenSize"
			android:hardwareAccelerated="true"
			android:windowSoftInputMode="adjustPan"
			android:launchMode="singleInstance"
			android:taskAffinity=""
			android:exported="true"
			android:label="@string/mdccsp"
			>
			<intent-filter>
				<action android:name="android.intent.action.SEND"/>
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
		</activity>

		<service android:name=".ServiceEnhancer" />
	</application>



</manifest>
